@import "~ngx-chips/core/styles/core/_core.scss";

// TAG THEME START

$smf-primary: #ff7361;
$smf-primary-dark: darken($smf-primary, 10%);

// this is the container's theme
$smf-theme: (
    container-border-bottom-focused: 2px solid $smf-primary
);

// this is the tag's theme
$smf-tag-theme: (
	background: $smf-primary,
    background-hover: $smf-primary-dark,
    color: #fff,
    color-hover: #fff,
    border-radius: 2px
);

// this is the delete icon's theme
$smf-icon-theme: (
    fill: #fff,
    fill-focus: #fff
);

// apply theme to the container
/deep/ .ng2-tag-input.smf-theme {
    @include tag-input-theme($smf-theme);
}

// apply theme to the tags
/deep/ .ng2-tag-input.smf-theme tag {
    @include tag-theme($smf-tag-theme);
}

/deep/ .ng2-tag-input.smf-theme tag delete-icon {
    @include icon-theme($smf-icon-theme);
}
// TAG THEME END

#post-fight-wrapper{
	margin-bottom: 12px;
}
#post-fight-form{
	clear: both;
	display: none;
    padding: 8px 20px;
	/*margin-top: 10px;*/
}
.tab-content {
	min-height: 210px;
	height: 100%;
}
input, textarea {
	margin-top: 5px;
	margin-bottom: 0px;
    -webkit-transition: border-color 1s linear; /* Saf3.2+, Chrome */
    -moz-transition: border-color 1s linear; /* FF3.7+ */
    -o-transition: border-color 1s linear; /* Opera 10.5 */
    transition: border-color 1s linear;
}
textarea {
	padding-left: 8px;
	padding-right: 8px;
	resize: none;
}
.mentions-input-box .mentions{
	display: none;
}
#add-options {
	margin-top: 12px;
}
#post-fight-toggle{
	margin:0;
	cursor: pointer;
	text-align: center;
    font-size: 36px;
}
fieldset{
	border: 0;
	padding: 4px;
}
legend{
	font-weight: 600;
}
.accordion-title{
    text-align: left;
}
.accordion-title.active a:hover{
	color: white;
}
.post-help{
	font-style: italic;
	font-size: 13px;
	display: block;
	clear:both;
}
.myside{
	box-shadow: 0px 0px 6px rgb(250, 224, 87);
}
.chzn-container .chzn-results .active-result{
	line-height: 1.2em;
	font-size: 1.4em;
	text-indent: 10px;
}
input[type="checkbox"]{
	outline: 0;
	vertical-align: bottom;
}
#post-fight-tabs {
	/*margin-top: 10px;*/
    border:0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
}
#post-fight-tabs i {
	margin-right: 0px !important;
}
#postFightPreview {
	margin-top: 15px;
}
#postfight-duration {
	margin-top: 5px;
}
.fileUploadPreview img {
	border: 1px solid #dddddd;
	padding: 3px;
	margin-bottom: 5px;
}
.col-xs-4 {
	padding-left: 5px;
	padding-right: 5px;
}
#post-fight-tabs li:last-child{
    float: right;
}
#post-fight-tabs li a {
	cursor: pointer;
}
#post-fight-tabs li.active a {
	cursor: default;
}
#post-fight-tabs li a.warning {
	background-color: #ff7361;
}
#post-fight-p{
	display: none;
}
#post-days {
	font-size: 1.2em;
	color:#ff7361;
	font-weight: bold;
}
.post-fight-icon-circle {
    height: 36px;
    width: 36px;
    font-size: 22px;
    line-height: 36px;
    color: white;
    vertical-align: middle;
    background-color: #ff7361;
}

.post-fight-icon-circle i {
	margin-right: 0 !important;
}
.post-fight-icon-close {
	float: right;
	/*margin-right: -15px;*/
}
.post-fight-icon-close i:before {
	content: "\f00d";
	font-family: "FontAwesome";
	font-size: 24px;
	color: rgba(255, 115, 97, 0.8);
	cursor: pointer;
}
#postFightPublicPrivate.dd-container img {
    height: 32px;
    opacity: 0.8;
    width: 32px;
}
#postFightPublicPrivate .dd-select, #postFightPublicPrivate .dd-options li {
	min-width: 216px;
	padding-bottom: 0px;
}
#postFightPublicPrivate .dd-selected, #postFightPublicPrivate .dd-option {
	padding: 8px;
}
#postFightPublicPrivate .dd-selected-text, #postFightPublicPrivate .dd-option-text {
	line-height: 15px;
}
.post-fight-tabs-nav{	
  color: black;
  font-size: 20px;
}
.tab-pane h4{
	margin-top: 10px;
	margin-bottom: 10px;
}

.widget ul li.input{
	overflow: initial;
}
.dz-progress{
	display: none;
}
#post-fight-form.dropzone{
	border:none;
}
.post-attachment-delete-link{
	position: absolute;
	top: -2px;
	right: 0;
	z-index: 99;
}
.post-attachment-delete-link i:before {
	content: "\f00d";
	font-family: "FontAwesome";
	font-size: 24px;
	color: rgb(255, 115, 97);
	cursor: pointer;
}